---
const {...element} = Astro.props;
---
<div class="bg-gray-100">
    <div>
        <img class="max-w-md " src={element.field} alt="">
    </div>
    <ul>
    <li>{element.nomMaison}</li>
    <li>{element.adresse}</li>
    <li>{element.nbChambres}Chambres</li>
    <li>{element.nbSdb} salle de bains</li>
    <li>{element.prix} €</li>
    <li>{element.surface} m²</li>
    </ul>
</div>